* {
  font-family: 'Inter', sans-serif;
  /* outline: 1px solid; */
}

.color-main {
  background-color: #fffcf7;
}

.color-secondary {
  background-color: #000000;
}

.navbar-toggler {
  border: none !important;
}

.fs-small {
  font-size: .75em;
}

.fc-grey {
  color: gray;
}

.card {
  background-color: #000000 !important;
  border-radius: 25px !important;
}