* {
  margin: 0px;
  padding: 0px;
  background-color: #e9e9e9;
  color: rgb(71, 71, 71);
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-name {
  color: rgb(0, 177, 160);
  font-weight: bolder;
  display: flex;
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

.navbar-item {
  color: rgb(124, 124, 124);
  transition: color 0.2s ease-in-out;
}

.navbar-item:hover {
  color: inherit;
}

@media (min-width: 1000px) {
  body {
    margin: 10px 20px 10px 20px;
    padding: 10px;
  }

  nav {
    font-size: 25px;
  }

  .navbar-menu {
    gap: 25%;
  }

  .navbar-item {
    font-size: 20px;
  }

  main {
    margin-top: 40%;
  }

  article {
    width: 75%;
    font-size: 40px;
  }
}

@media (max-width: 999px) {
  body {
    margin: 20px 15px 20px 15px;
    font-size: 16px;
  }

  nav {
    font-size: 16px;
  }

  .navbar-name {
    font-size: 20px;
  }

  main {
    margin-top: 40%;
    margin-right: 10%;
  }

  article {
    width: 95%;
    font-size: 20px;
  }
}