* {
  font-family: 'Inter', sans-serif;
}

/* Override Bootstrap */
.navbar-toggler {
  border: none !important;
}

.navbar {
  background-color: #fffcf7 !important;
}

.card {
  background-color: #000000 !important;
  border-radius: 25px !important;
}

.pt-6 {
  padding-top: 5rem !important;
}

/* Custom */
.color-main {
  background-color: #fffcf7;
}

.color-secondary {
  background-color: #000000;
}

.height-full {
  height: 100vh;
}

.fs-small {
  font-size: .75em;
}

.fc-grey {
  color: gray;
}